body {
	background-color: #000000;
	color: #FFFFFF;
}
.bodyContents {
	border: 2px double #C0C0C0;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #333333;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
a {
	color: #FFFF00;
}
a:link {
	color: #FFFF00;
}
a:visited {
	color: #FFFF00;
}


.footer {
	clear: both;
	border-top-style: outset;
	border-width: medium;
	border-color: #C0C0C0;
	border-bottom-style: inset;
	height: 35px;
	text-align: right;
	padding-top: 2px;
}


.Announcement {
	border-bottom-style: groove;
	border-bottom-width: thick;
	border-bottom-color: #C0C0C0;
}


